# ignored file extensions & system directories
*~
*_notes/
*.log

# ignored '.' files and directories
._*
.cache
.DS_Store
.htaccess
.project
.settings
.tmproj
.svn

# ignore everything in www
/mura-docker/www

# un-ignore README.md and training
!*/www/*/*.md
!/mura-docker/www/training

# never ignore .gitignore
!.gitignore
