# ignored file extensions & system directories
*~
*_notes/
*.log

# ignored '.' files and directories
._*
.cache
.DS_Store
.htaccess
.project
.settings
.tmproj
.svn

# ignore everything in www, except the .md files
*/www
!*/www/*.md
