# ignored file extensions & system directories
*~
*_notes/
*.log

# ignored '.' files and directories
._*
.cache
.DS_Store
.htaccess
.project
.settings
.tmproj
.svn

# Due to a performance-related quirk in Git, 
# you can not negate a file that is ignored due to a pattern matching a directory
# so we'll just ignore these specific directories
*/www/modules
*/www/plugins
*/www/sites
*/www/themes

# Ignore build data
*/bundle/hsperfdata_root

# un-ignore any README.md
!README.md

# never ignore .gitignore
!.gitignore
